// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@very-light-purple: #d0d0ff;
@blue: #3387cc;
@purple: #9933cc;
@green: #66cc33;
@red: #c83730;
@orange: #cc7833;
@yellow: #cccc33;

@light-purple: #735970;
@gross-green: rgba(51, 51, 0, 0.8);

// all original colors

// @black: #000000;
// @other-gray: #434242;
// @some-gray: #404040;
// @shi-gray: #555555;
// @another-gray: #9b9b9b;
// @geez-gray: #aaaaaa;
// @white: #ffffff;
// @off-green: #333300;
// @red: #c83730;
// @purple: #9933cc;
// @light-purple: #735970;
// @very-light-purple: #d0d0ff;
// @blue: #3387cc;
// @orange: #cc7833;
// @green: #66cc33;
// @yellow: #cccc33;
